body {
    color: white;
    background-color: #1F2937;
    margin-top: 115px;
    margin-left: 52px;
}

button {
    background-color: #10B981;
    color: white;
    width: 191px;
    height: 42px;
    border: none;
    border-radius: 6px;    
    margin-right: 44px;
}

hr {
    width: 446px;
    margin-left: 0;
    margin-top: 35px;
    margin-bottom: 35px;
    border: 1px solid #2F3E53;
}

h1 {
    margin: 0;
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-style: bold;
    font-size: 40px;
}

h3 {
    margin-top: 10;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #10B981;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.alt-style {
    color: #4ADF86;
}

.container {
    display: flex;
    align-items: center;
}

.text-box {
    color: #55F991;
    background-color: #273549;
    width: 211px;
    height: 39px;
    margin-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

.form-control {
    display: flex;
    gap: 0.5em;
}

#div-1 {
    margin-top: 51px;
}

#div-2 {
    margin-top: 30px;
}

#symbols-checkbox {
    margin-left: 144px;
}

#length-input {
    margin-top: 5px;
    height: 42px;
    width: 211px;
    background-color: #273549;
    color: #55F991;
    border: 0px;
    text-align: center;
    border-radius: 6px;
}